.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 315px;

  &__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}