.button {
  width: 100%;
  max-width: 240px;
  height: 48pxx;
  padding: 15px 32px 15px 32px;
  gap: 10px;
  border-radius: 30px;
  background: linear-gradient(110.46deg, #70C3FF 12.27%, #4B65FF 93.92%);
  outline: none;
  border: none;

  span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
  }
}