:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #4A4E71;
  background: linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  background-image: url("assets/background.svg");
  background-size: auto calc(100% - 40px);
  background-position: center;
  background-repeat: no-repeat;
}